
html {
    display: block;
    }
    
    head {
        display: none;
    }
    
    @font-face {
        font-family : 'Montserrat';
        font-style : normal;
        font-weight : 200;
        font-display : swap;
        src : local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_aZA7g4.ttf) format('truetype');
    }
    
    body {
        display: block;
        font-family: Serif, "Times New Roman", Arial;
        background-color: #F5F1Ea;
        margin:1%;
        margin-bottom: 10%;
    }

    p {
        display: block;
        font-family: Serif, "Times New Roman", Arial;
        color: #666973;
    }
